/MobileSystemRest/target
/MobileSystemRest/.idea
/MobileSystemRest/.settings
/doc
/overlays
/MobileSystemRest/mvnw
/MobileSystemRest/HELP.md
/MobileSystemRest/MobileSystemRest.iml
/MobileSystemRest/.project
/MobileSystemRest/.classpath
/MobileSystemRest/target/
/MobileSystemRest/.settings/
.zip
/.zip
*.zip
